doctype html
html(lang='en')
  include common/header.pug
  +header("Operations Centre Tool")
  body
    header
      include common/navbar.pug
      +navbar()
    h1 OC Tool
    p Welcome to #{title}
    include common/footer.pug
    +footer()
